#overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 820;
  background: var(--dark);
  opacity: 1;
  transition: opacity 0.5s .3s ease;
  pointer-events: all;

  &.is-active {
    .c-logo{
      opacity: 1;
    }
  }
  &.is-hidden {
    opacity: 0;
    pointer-events: none;

  }

  .c-logo {
    transition: opacity 0.5s ease;
    margin: 32px;
    opacity: 0;
  }
}
#notice0,#notice1 {
  position: fixed;
  @include _inset(0, 0 , 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
#notice0 p span,#notice1 p span {
  transform: translateY(105%);
  max-width: 90vw;
  text-align: center;
  display: flex;

}
